/*start variables */

/*End variables */
/* start global Rules */
*{
    -web-kit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
   
}

h1{
    font-size: 4rem;
    color: #ebeced;
    font-weight: 900;
}
body{
    font-family: 'work sans', sans-serif;
    background: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
}

main{
    container-type:inline-size;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }

/* .contanier{
    container-type:inline-size;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .contanier{
        width: 970px;
}}

@media (min-width: 768px) {
    .contanier{
        width: 700px;
}}

@media (max-width: 576px) {
       *{
        font-size:12px
       }
    .contanier{
        width: 500px;
}}
@media (min-width: 1200px) {
    .contanier{
        width: 1170px;
}} */


/*end global rules*/


header{
    background-color: #fff;
    padding: 1%; 
}

header .container{
    width: 80cqi;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5% 0 1.5%;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;  

    
}

header .container img{
    width: 10%;
}

.shape{
    position: relative;
    width: 20px;
    height: 3px;
    background-color: #7b7b7b;
    left: -1%;
    transition: 0.3s;
    display: block;
}
.shape:hover{
    width: 25px;
    margin: 2px;
}


.shape::after{
    content: '';
    position: absolute;
    top: 5px;
    width: 25px;
    height: 3px;
    background-color: #7b7b7b;
}
header .container .drop {
    display: flex;;
    
}
.shape::before{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 25px;
    height: 3px;
    background-color: #7b7b7b;
}

header .container ul{
    background-color: #2c4755;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2.5%;
    right: 108px;
    border-radius: 20%;
    
}


header .container ul li{
    list-style: none;
    padding: 14px;
}

header .container .drop li a:hover {
    color: #10cab7;
    
}

header .container ul li a{
    color: #fff;
    text-decoration: none;
}

 /* .key:hover ul{
    display: block;
}  */



.greetng{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 10%;
    text-transform: capitalize;
    font-family: 'work sans', sans-serif;
}

.greetng h2{
    color: #10cab7;
    font-weight: 900;
}

.greetng p{
    color: #395360;
    line-break: auto;
    width: 25%;
    margin: auto;
    line-height: 1.5rem;
    font-weight: 300;
}

.work{
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 2%;   
    align-content: space-between;
    justify-content: space-between;
    align-items: center; 

}

.card h3{
    text-transform: capitalize;
    color: #2c4755;
    font-weight: 900;
}
.work .card{
    width: 46.33cqi;
    height: 30cqi;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2cqi;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;   
}
.m-card{
    border: 1px solid #ece7e7;
}
.work-container{
    background: #fff;
    margin: 0 -20% 0 -20%; 
    text-align: center;
}

.work-container h1{
    font-size: 4rem;
    color: #f6f6f6;
    font-weight: 900;
}

.text{
    z-index: 2;
    position: relative;
    bottom: 60px;
}
.work .card i{
    font-size: 6cqi;
    color: #10cab7;
    padding-bottom: 1rem;   
}

.work .card p{
    font-size: 1rem;
    width: 80%;
    line-break: auto;
    transition: ease;
    overflow-wrap: break-word;
    text-align: center;
    overflow-y: auto;
    color: #848484;
}
.Serivces-b .scard h{
      font-size: 1.8cqi;
}

.Serivces-b .scard p{
    font-size: 1.2cqi;
}
.Serivces-b{
    container-type:inline-size;
    margin-left: 18%;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2,45%);
    align-items: center;
}

.Serivces-b h3{
    text-align: center;
}

.Serivces-b .scard{
    padding: 1rem 1.5rem 0 0; ;
    max-width: 100%;
}


.Serivces-b i{
    font-size: 4cqi;
    color: #10cab7;
    padding: 2rem; 
    padding-bottom: 4px;  
}


.Serivces-b .card-sec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    z-index: 2;
}


 .squre{
    background: #f6f6f6;
    width: 16cqi;
    height: 16rem;
    
}

.Serivces-b .squre::before{
    content: '';
    width: 2.5cm;
    height: calc(100% + 50px);
    background: #10cab7;
    position: relative;
    left: 80%;
    top: -25px;
    display: block;
    z-index: -1;
    
}

@media only screen and (max-width: 993px) and (min-width:421px){

    header .container ul{
        padding: 2.5%;
        position: relative;
        right: 80px;
        border-radius: 20%;
        
    }
    .greetng{
        height: 30vh;
    }
    
     .work{
        display: flex;
        flex-direction: column;
    }
    .work .card{
       height: 100%;
       font-size: .75px;
    }
    .work .card i{
        padding: 1px;
        font-size: 1rem;
    }
    .work .card h3{
        font-size: .8rem;

    }
}

#projects{
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    padding: 8%;
    margin-left: -12%;
    margin-right: -12%;
    padding-left: 10%;
    text-align: center;
    justify-content: space-evenly;
}
.project{
    text-align: left;
    width: 30%;
    overflow-wrap: break-word;
    padding-right: 1%;

}
#projects .project img{
   width: 12vw;
   height: 13vw;
   background: #f6f6f6;
}

#about{
    background-color: #fafafa;
    text-align: center;
    margin-top: -5%;
    margin-left: -12%;
    margin-right: -12%;
    padding-left: 12%;
    padding-right: 12%;
}
.about-grid{
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px ;
}
.about-text{
    text-align: left;
    width: 60%;
}
#text1::before{
    content: "";
    display: block;
    background: #10cab7;
    height: 2px;
    margin-bottom: 2px;

}

.about-grid .draw .squre {
   margin-left: auto;
   margin-right: auto;
}
.about-grid .draw .squre::after{
     content: '';
     display: block;
     width: 5vw;
     height: 60%;
     background: #10cab7;
     position: relative;
     left: calc(60% + 10px);
     top:-25%;
     z-index: -2;
}

.about-grid .draw .squre::before{
    content: '';
    display: block;
    width: 90px;
    height: 40px;
    background: #10cab7;
    position: relative;
    left: calc(90% + 10px);
    top:50%;
    z-index: -2;
}

#about h1{
    font-size: 3.5em;
}
.a-text{
    z-index: 2;
    position: relative;
    bottom: 60px;
}
#contact{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 100px;
}
.details{
    text-align: left;
}
.details p:first-of-type{
  color: #2c4755;
  font-weight: 600;
  font-size: 2rem;
}
.details p:nth-child(2){
    color: #10cab7;
    font-size: 1.5rem;
    padding-left: 30px;
}
.details p:nth-child(3){
    padding-left: 50px;
}
.details p:nth-child(3) i{
    padding: 10px;
}
.details p:nth-child(3) i:first-of-type{
    padding-left: 20px;
}
#contact h1{
    font-size: 3.5em;
    color: #ebeced;
}
.footer{
    background: #2c4755;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
}
.footer i {
    color: #10cab7;
    font-style: normal;
}
@container (min-width: 993px) and (min-width:421px){
    header .container ul{
        padding: 2.5%;
        position: relative;
        right: 80px;
        border-radius: 20%;
    }
}

@container (max-width: 993px) and (min-width:421px) {
    header .container ul{
        padding: 2.5%;
        position: relative;
        right: 80px;
        border-radius: 20%;
        
    }
    
}

@media (max-width: 993px){
    .draw{
        display: none;
    }
    .Serivces-b .card-sec{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
        z-index: 2;
    }
    #projects{
        flex-direction: column;
        align-items: center;
    }
    #projects .project img{
        width: 24vw;
        height: 25vw;
        background: #f6f6f6;
     }

}
@media (max-width: 992px) {
    .greetng{
        height: min(40vh,20%);
        padding: 60px;
    }
    .greetng h2{
        font-size: 2rem;
    }
    .greetng p{
        font-size: 1rem;
        width: 70%;
    }
    .work{
        flex-direction: column;
    }
    .work .card{
        width:60%;
        height: fit-content;
    }
    .work .card i{
       font-size:8cqi ;
    }
    .work h3 {
        font-size: 2.6rem;
    }
    .work .card p {
        font-size: 2.6rem;
    }
    .work-container h1 {
        font-size: 5rem;
        color: #f6f6f6;
        font-weight: 900;
    }
    .text{
        font-size: 1.2rem;
    }
    .Serivces-b{
        height: 80vh;
        grid-template-columns: 0 2fr ;
        grid-template-rows: auto;
        margin-bottom: 300px;
        
    }
    .Serivces-b .draw {
        display: none;
    }
    .Serivces-b .card-sec{
        width: 80vw;
        height: min(750px,20%);
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-template-rows: 2fr 2fr;
    }
    .Serivces-b .card-sec .scard p{
        font-size: .7rem;
    }
    .Serivces-b .card-sec .scard h3{
        font-size: 1.8rem;
    }
    #projects{
        flex-direction: column;
        align-items: center;
       
    }
    #projects .project{
        width: 80%;
        height: max(200px,20vh);
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 50px auto;
        grid-gap: 20px;
    }
    #projects .project img{
        width: 32vw;
        height: 33vw;
    }
    #projects .project p {
        grid-column: 2 / span 2;
        font-size: 1rem;
    }
    #projects .project h3 {
        font-size: 1.1rem;
    }
    #about .about-grid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center
    }
    #about .draw{
        z-index: -2;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        display: none;
    }
    #about h4{
        text-align: center;
        font-size: 1.5rem;
    }
    #about p{
        text-align: center;
        font-size: 1.2rem;
    } 
    header .container ul li {
        font-size: 2rem;
    }
}
